/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$light-colour: #e8e8e8;

a {
	&:hover, &:focus {
	    color: rgb(222, 207, 173);
	    @include transition(color 0.6s ease);
	}
}


body {
	line-height: 1.1;

	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	overflow-x: hidden;
}

// button {
// 	font-family: 'Miso Bold';
// }

h2 {
	font-family: 'Roboto Slab Bold';

	font-size: 42px;
}

header {
	width: 100%;

	color: white;

	// border-bottom: 1px solid rgba(255, 255, 255, 0.5);

	padding: 18px 9px;

	padding-left: 18px;
	padding-right: 18px;

	a {
		text-decoration: none;
		color: white;
	}

	a:not(:first-child) {
		padding-left: 12px;
	}

	.social i {
		text-shadow: 0px 4px 2px #3a3a3a;
	}

	.logo {
		img {
			vertical-align: middle;
			padding: 0;

			margin: 8px;

			// -webkit-border-radius: 20px;
			// -moz-border-radius: 20px;
			// border-radius: 20px;
			// width: 40px;
			// height: 40px;
			border: 0px;
		}

		.brand {
			font-size: 28pt;
			font-weight: bold;

			vertical-align: middle;

			font-family: 'Futura-MediumItalic';
			font-style: italic;

			position: relative;
			left: -5px;

			text-shadow: 0px 4px 2px #3a3a3a;
		}
	}
}

#bk {
	background: url('../images/mtn.jpg') 50% 50%;
	background-size: cover;
}

.navbar {
	margin-bottom: 0;
}

section#hero {
	// background: url('../images/hero_bg.jpg') 50% 50%;

	text-align: center;

	width: 100%;
	min-height: 500px;

	color: white;

	padding: 8px 36px;

	text-shadow: 0px 2px 6px #6a6a6a;

	input {
		background: rgba(255, 255, 255, 0.7);
	}

	.muted {
		font-size: 12pt;
		line-height: 1.08;

		text-shadow: none;
		text-align: left;

		color: rgba(255, 255, 255, 0.7);
		font-style: italic;
	}

	h2 {
		font-size: 36pt;

		padding-top: 60px;
		padding-bottom: 16px;

	}

	p {
		font-size: 16pt;

		// max-width: 380px;
		line-height: 1.5;

		padding-bottom: 30px;
	}

	img.screenshot {
		width: 100%;

		margin-top: 60px;
	}

	.call-to-action {
		// max-width: 380px;
	}
}

img {
	margin-top: 16px;
	margin-bottom: 16px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

	// border: 1px solid rgba(75, 89, 102, 0.4);
}

section#feature-white {
	background-color: $light-colour;
	min-height: 380px;
	text-align: center;

	padding-bottom: 30px;

	h2 {
		font-size: 32pt;
		text-align: center;

		padding-top: 30px;
	}

	p {
		font-size: 16pt;
		text-align: center;

		line-height: 1.5;

		padding: 30px 0;
	}

	img {
		margin: 0 auto;

		vertical-align: middle;
	}
}

$dark-section-color: #95a5a6;

section#feature-dark {
	background-color: $dark-section-color;
	text-align: center;

	color: #d8d8d8;

	img {
		width: 112px;
		height: 112px;
	}

	img.ban {
		width: 112px;
		height: 112px;
		border: none;

		@include transform(scale(0.7));
		opacity: 0;
	}

	img.ban.womp {
		opacity: 1.0;

		@include transition(all 0.15s ease-in);
		@include transform(scale(1.0));
	}

	h2 {
		font-size: 32pt;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	padding-bottom: 15px;
	padding-top: 42px;

	p {
		font-size: 18pt;
		line-height: 1.1;
	}

	header {
		text-transform: uppercase;
		color: #d8d8d8;

	}
}

section#call-to-action {
	text-align: center;
	min-height: 380px;
	padding: 30px 36px;

	background-color: $light-colour;

	h2 {
		font-size: 32pt;
		padding-bottom: 30px;
	}

	h3 {
		font-size: 16pt;
	}

	p {
		font-size: 14pt;

		line-height: 1.5;

		padding-bottom: 30px;
	}
}

section#us {
	background-color: $dark-section-color;
	min-height: 200px;

	padding: 36px 36px;

	$us-section-colour: rgb(32, 32, 32);
	color: $us-section-colour;
	
	address {
		text-shadow: 0px 2px 2px #ccc;
	}

	.column-header {
		text-shadow: 0px 2px 2px #ccc;

		text-align: center;
		text-transform: uppercase;

		font-size: 10pt;

		padding-bottom: 12px;
	}

	.built-with {
		padding: 30px 0;
		text-align: center;

		color: lighten($us-section-colour, 30%);
	}

	ul {
		text-align: center;

		li {
			padding-bottom: 4px;
			text-shadow: 0px 2px 2px #bb9;
		}
	}

	a {
		text-decoration: none;
		color: $us-section-colour;
	}
}

@font-face {
  font-family: 'Miso Bold';
  src: url('../fonts/miso-bold.otf');
}

@font-face {
  font-family: 'Miso Regular';
  src: url('../fonts/miso-regular.otf');
}

@font-face {
  font-family: 'Roboto Slab Bold';
  src: url('../fonts/RobotoSlab-Bold.ttf');
}

@font-face {
	font-family: 'GeosansLight-Oblique';
	src: url('../fonts/GeosansLight-Oblique.ttf');
}

@font-face {
	font-family: 'Cicle Gordita';
	src: url('../fonts/Cicle Gordita.ttf');
}

@font-face {
	font-family: 'Corbert Italic';
	src: url('../fonts/Corbert Italic.otf');
}

.category {
	text-transform: uppercase;
	font-family: 'Helvetica Neue';
	letter-spacing: -0.03em;
	font-weight: bold;

	color: #d8d8d8;
	font-size: 16pt;

	padding-bottom: 12px;
}

::-webkit-input-placeholder {
   color: #4d4d4d !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #4d4d4d !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #4d4d4d !important;
}

:-ms-input-placeholder {  
   color: #4d4d4d !important;
}

#subscription-message {
	padding: 16px 0;
}

.column-separator {
	text-align: center;
	padding: 8px 0;
}

hr {
	border-top: 1px solid #b8b8b8;
}

#thanks {
	text-align: center;
	font-size: 14pt;

	padding-top: 20px;

	display: none;

	font-style: italic;
	color: rgba(100, 100, 100, 0.7);
}
 
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
	.flex-video {
	position: relative;
	padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 16px;
	overflow: hidden;
	}
	
	.flex-video iframe,
	.flex-video object,
	.flex-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
.flex-video { padding-top: 0; }
}

.flex-video .youtube-player {
	max-width: 800px;
	max-height: 600px;
}

$button-colour: rgb(50, 135, 204);
$border-colour: rgb(120, 171, 208);

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
color: #fff;
background-color: lighten($button-colour, 10%);
border-color: $border-colour;
}

.btn-info {
color: #fff;
background-color: $button-colour;
border-color: $border-colour;
}

.translucent-back {
	background-color: rgba(120, 171, 208, 0.5);
	padding-top: 20px;
	
	@include border-radius(5px);
}

.translucent-header {
	@include background-image(linear-gradient(rgba(120, 171, 208, 0.7), rgba(0, 0, 0, 0)));
}
