/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
	line-height: 1.1;
}

button {
	font-family: 'Miso Bold';
}

h2 {
	font-family: 'Miso Bold';

	font-size: 42pt;
}

header {
	width: 100%;
	background-color: black;
	background: url('../images/navbar_bg.png');
	color: white;

	border-bottom: 1px solid rgba(255, 255, 255, 0.5);

	padding: 18px 9px;

	padding-left: 18px;
	padding-right: 18px;

	.logo {
		img {
			vertical-align: middle;
			padding: 0;

			margin: 8px;

			// -webkit-border-radius: 20px;
			// -moz-border-radius: 20px;
			// border-radius: 20px;
			// width: 40px;
			// height: 40px;
		}

		.brand {
			font-size: 28pt;
			font-weight: bold;

			vertical-align: middle;

			font-family: 'Miso Bold';
		}
	}
}

section#hero {
	background: url('../images/hero_bg.jpg') 50% 50%;

	width: 100%;
	min-height: 500px;

	background-color: #d8d8d8;

	padding: 8px 36px;

	input {
		background: rgba(255, 255, 255, 0.5);
	}

	h2 {
		font-size: 36pt;

		padding-top: 60px;
		padding-bottom: 30px;
	}

	p {
		font-size: 16pt;

		max-width: 380px;
		line-height: 1.5;

		padding-bottom: 30px;
	}

	img.screenshot {
		width: 100%;

		margin-top: 60px;
	}

	.call-to-action {
		max-width: 380px;
	}
}

img {
	margin-top: 16px;
	margin-bottom: 16px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

	border: 1px solid rgba(75, 89, 102, 0.4);
}

section#feature-white {
	background-color: #e8e8e8;
	min-height: 380px;
	text-align: center;

	h2 {
		font-size: 32pt;
		text-align: center;

		padding-top: 30px;
		padding-bottom: 30px;
	}

	p {
		font-size: 16pt;
		text-align: center;

		line-height: 1.5;
	}

	img {
		margin: 0 auto;
		margin-bottom: 30px;

		vertical-align: middle;
	}
}

section#feature-dark {
	background-color: rgb(26, 25, 31);
	min-height: 380px;
	text-align: center;

	color: #d8d8d8;

	h2 {
		font-size: 32pt;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	padding-bottom: 30px;
}

section#call-to-action {
	text-align: right;
	min-height: 380px;
	padding: 8px 36px;

	h2 {
		font-size: 32pt;
		padding-top: 30px;
		padding-bottom: 14px;
	}

	h3 {
		font-size: 16pt;
	}

	p {
		font-size: 14pt;

		line-height: 1.5;

		padding-bottom: 30px;
	}
}

@font-face {
  font-family: 'Miso Bold';
  src: url('../fonts/miso-bold.otf');
}

@font-face {
  font-family: 'Miso Regular';
  src: url('../fonts/miso-regular.otf');
}
