/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$light-colour: #e8e8e8;

body {
	line-height: 1.1;
}

button {
	font-family: 'Miso Bold';
}

h2 {
	font-family: 'Roboto Slab Bold';

	font-size: 42px;
}

header {
	width: 100%;
	background-color: black;
	background: url('../images/navbar_bg.png');
	color: white;

	border-bottom: 1px solid rgba(255, 255, 255, 0.5);

	padding: 18px 9px;

	padding-left: 18px;
	padding-right: 18px;

	a {
		text-decoration: none;
		color: white;
	}

	a:not(:first-child) {
		padding-left: 12px;
	}

	.logo {
		img {
			vertical-align: middle;
			padding: 0;

			margin: 8px;

			// -webkit-border-radius: 20px;
			// -moz-border-radius: 20px;
			// border-radius: 20px;
			// width: 40px;
			// height: 40px;
			border: 0px;
		}

		.brand {
			font-size: 28pt;
			font-weight: bold;

			vertical-align: middle;

			font-family: 'Futura-MediumItalic';
			font-style: italic;
		}
	}
}

section#hero {
	background: url('../images/hero_bg.jpg') 50% 50%;

	text-align: center;

	width: 100%;
	min-height: 500px;

	background-color: #d8d8d8;
	color: white;

	padding: 8px 36px;

	text-shadow: 0px 2px 6px #6a6a6a;

	input {
		background: rgba(255, 255, 255, 0.5);


	}

	h2 {
		font-size: 36pt;

		padding-top: 60px;
		padding-bottom: 16px;

	}

	p {
		font-size: 16pt;

		// max-width: 380px;
		line-height: 1.5;

		padding-bottom: 30px;
	}

	img.screenshot {
		width: 100%;

		margin-top: 60px;
	}

	.call-to-action {
		// max-width: 380px;
	}
}

img {
	margin-top: 16px;
	margin-bottom: 16px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

	border: 1px solid rgba(75, 89, 102, 0.4);
}

section#feature-white {
	background-color: $light-colour;
	min-height: 380px;
	text-align: center;

	padding-bottom: 30px;

	h2 {
		font-size: 32pt;
		text-align: center;

		padding-top: 30px;
	}

	p {
		font-size: 16pt;
		text-align: center;

		line-height: 1.5;

		padding: 30px 0;
	}

	img {
		margin: 0 auto;

		vertical-align: middle;
	}
}

section#feature-dark {
	background-color: rgb(26, 25, 31);
	min-height: 380px;
	text-align: center;

	color: #d8d8d8;

	h2 {
		font-size: 32pt;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	padding-bottom: 30px;

	p {
		font-size: 18pt;
		line-height: 1.1;
	}

	header {
		text-transform: uppercase;
		color: #d8d8d8;

	}
}

section#call-to-action {
	text-align: center;
	min-height: 380px;
	padding: 8px 36px;

	background-color: $light-colour;

	h2 {
		font-size: 32pt;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	h3 {
		font-size: 16pt;
	}

	p {
		font-size: 14pt;

		line-height: 1.5;

		padding-bottom: 30px;
	}
}

section#us {
	background-color: #9a9a9a;
	min-height: 200px;

	padding: 36px 36px;

	$us-section-colour: rgb(32, 32, 32);
	color: $us-section-colour;

	.column-header {
		text-shadow: 0px 2px 2px #ccc;

		text-align: center;
		text-transform: uppercase;

		font-size: 10pt;

		padding-bottom: 12px;
	}

	.built-with {
		padding: 30px 0;
		text-align: center;

		color: lighten($us-section-colour, 30%);
	}

	ul {
		text-align: center;

		li {
			padding-bottom: 4px;
		}
	}

	a {
		text-decoration: none;
		color: $us-section-colour;
	}
}

@font-face {
  font-family: 'Miso Bold';
  src: url('../fonts/miso-bold.otf');
}

@font-face {
  font-family: 'Miso Regular';
  src: url('../fonts/miso-regular.otf');
}

@font-face {
  font-family: 'Roboto Slab Bold';
  src: url('../fonts/RobotoSlab-Bold.ttf');
}

@font-face {
	font-family: 'GeosansLight-Oblique';
	src: url('../fonts/GeosansLight-Oblique.ttf');
}

@font-face {
	font-family: 'Cicle Gordita';
	src: url('../fonts/Cicle Gordita.ttf');
}

@font-face {
	font-family: 'Corbert Italic';
	src: url('../fonts/Corbert Italic.otf');
}

.category {
	text-transform: uppercase;
	font-family: 'Helvetica Neue';
	letter-spacing: -0.03em;
	font-weight: bold;

	color: #d8d8d8;
	font-size: 16pt;

	padding-bottom: 12px;
}

::-webkit-input-placeholder {
   color: #6e6e6e !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #6e6e6e !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #6e6e6e !important;
}

:-ms-input-placeholder {  
   color: #6e6e6e !important;
}

#subscription-message {
	padding: 16px 0;
}