/*
Syntax error: Invalid CSS after "}": expected "}", was ""
        on line 409 of /Users/jogloran-s/landing/sass/screen.scss

Backtrace:
/Users/jogloran-s/landing/sass/screen.scss:409
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:1146:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:1084:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:1079:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:535:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:528:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:552:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:545:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:82:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/scss/parser.rb:27:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/engine.rb:342:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/bin/compass:44:in `call'
/Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/jogloran-s/.rvm/gems/ruby-head-zombie/bin/compass:23:in `load'
/Users/jogloran-s/.rvm/gems/ruby-head-zombie/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 409 of /Users/jogloran-s/landing/sass/screen.scss"; }
