/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, C:/Users/w7-box/Composure/site2/sass/screen.scss */
h3 {
  font-family: "Roboto Slab Bold", sans-serif;
}

/* line 16, C:/Users/w7-box/Composure/site2/sass/screen.scss */
a:hover, a:focus {
  color: #decfad;
  -webkit-transition: color 0.6s ease;
  -moz-transition: color 0.6s ease;
  -o-transition: color 0.6s ease;
  transition: color 0.6s ease;
}

/* line 22, C:/Users/w7-box/Composure/site2/sass/screen.scss */
.row-flipped {
  text-align: right;
}
/* line 23, C:/Users/w7-box/Composure/site2/sass/screen.scss */
.row-flipped h3 {
  text-align: right;
}

/* line 29, C:/Users/w7-box/Composure/site2/sass/screen.scss */
body {
  line-height: 1.1;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  overflow-x: hidden;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

/* line 43, C:/Users/w7-box/Composure/site2/sass/screen.scss */
h2 {
  font-family: 'Roboto Slab Bold';
  font-size: 42px;
}

/* line 49, C:/Users/w7-box/Composure/site2/sass/screen.scss */
header {
  width: 100%;
  color: white;
  padding: 18px 9px;
  padding-left: 18px;
  padding-right: 18px;
}
/* line 61, C:/Users/w7-box/Composure/site2/sass/screen.scss */
header a {
  text-decoration: none;
  color: white;
}
/* line 66, C:/Users/w7-box/Composure/site2/sass/screen.scss */
header a:not(:first-child) {
  padding-left: 12px;
}
/* line 70, C:/Users/w7-box/Composure/site2/sass/screen.scss */
header .social i {
  text-shadow: 0px 4px 2px #3a3a3a;
}
/* line 75, C:/Users/w7-box/Composure/site2/sass/screen.scss */
header .logo img {
  vertical-align: middle;
  padding: 0;
  margin: 8px;
  border: 0px;
}
/* line 89, C:/Users/w7-box/Composure/site2/sass/screen.scss */
header .logo .brand {
  font-size: 28pt;
  font-weight: bold;
  vertical-align: middle;
  font-family: 'Futura-MediumItalic';
  font-style: italic;
  position: relative;
  left: -5px;
  text-shadow: 0px 4px 2px #3a3a3a;
}

/* line 106, C:/Users/w7-box/Composure/site2/sass/screen.scss */
#bk {
  background: url("../images/mtn.jpg") 50% 50%;
  background-size: cover;
}

/* line 111, C:/Users/w7-box/Composure/site2/sass/screen.scss */
.navbar {
  margin-bottom: 0;
}

/* line 115, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#hero {
  text-align: center;
  width: 100%;
  min-height: 500px;
  color: white;
  padding: 8px 36px;
  text-shadow: 0px 2px 6px #6a6a6a;
}
/* line 129, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#hero input {
  background: rgba(255, 255, 255, 0.7);
}
/* line 133, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#hero .muted {
  font-size: 12pt;
  line-height: 1.08;
  text-shadow: none;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}
/* line 144, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#hero h2 {
  font-size: 36pt;
  padding-top: 60px;
  padding-bottom: 16px;
}
/* line 152, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#hero p {
  font-size: 16pt;
  line-height: 1.5;
  padding-bottom: 30px;
}
/* line 161, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#hero img.screenshot {
  width: 100%;
  margin-top: 60px;
}

/* line 172, C:/Users/w7-box/Composure/site2/sass/screen.scss */
img {
  margin-top: 16px;
  margin-bottom: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 184, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#feature-white {
  background-color: #e8e8e8;
  min-height: 380px;
  text-align: center;
  padding-bottom: 30px;
}
/* line 191, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#feature-white h2 {
  font-size: 32pt;
  text-align: center;
  padding-top: 30px;
}
/* line 198, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#feature-white p {
  font-size: 16pt;
  text-align: center;
  line-height: 1.5;
  padding: 30px 0;
}
/* line 207, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#feature-white img {
  margin: 0 auto;
  vertical-align: middle;
}

/* line 216, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#feature-dark {
  background-color: #95a5a6;
  color: #d8d8d8;
  padding-bottom: 15px;
  padding-top: 42px;
}
/* line 221, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#feature-dark img {
  width: 112px;
  height: 112px;
}
/* line 226, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#feature-dark img.ban {
  width: 112px;
  height: 112px;
  border: none;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
}
/* line 235, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#feature-dark img.ban.womp {
  opacity: 1.0;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 242, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#feature-dark h2 {
  font-size: 32pt;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 248, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#feature-dark h3 {
  font-size: 22pt;
  margin-top: 16px;
  padding-bottom: 32px;
}
/* line 258, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#feature-dark p {
  font-size: 18pt;
  line-height: 1.1;
}
/* line 263, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#feature-dark header {
  text-transform: uppercase;
  color: #d8d8d8;
}

/* line 270, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#call-to-action {
  text-align: center;
  min-height: 380px;
  padding: 30px 36px;
  background-color: #e8e8e8;
}
/* line 277, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#call-to-action h2 {
  font-size: 32pt;
  padding-bottom: 30px;
}
/* line 282, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#call-to-action h3 {
  font-size: 16pt;
}
/* line 286, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#call-to-action p {
  font-size: 14pt;
  line-height: 1.5;
  padding-bottom: 30px;
}

/* line 295, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#us {
  background-color: #95a5a6;
  min-height: 200px;
  padding: 36px 36px;
  color: #202020;
}
/* line 304, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#us address {
  text-shadow: 0px 2px 2px #ccc;
  line-height: 1.4;
}
/* line 310, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#us .column-header {
  text-shadow: 0px 2px 2px #ccc;
  text-align: center;
  text-transform: uppercase;
  font-size: 10pt;
  padding-bottom: 12px;
}
/* line 321, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#us .built-with {
  padding: 30px 0;
  text-align: center;
  color: #6d6d6d;
}
/* line 328, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#us ul {
  text-align: center;
}
/* line 331, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#us ul li {
  padding-bottom: 4px;
  text-shadow: 0px 2px 2px #bb9;
}
/* line 337, C:/Users/w7-box/Composure/site2/sass/screen.scss */
section#us a {
  text-decoration: none;
  color: #202020;
}

@font-face {
  font-family: 'Miso Bold';
  src: url("../fonts/miso-bold.otf");
}

@font-face {
  font-family: 'Miso Regular';
  src: url("../fonts/miso-regular.otf");
}

@font-face {
  font-family: 'Roboto Slab Bold';
  src: url("../fonts/RobotoSlab-Bold.ttf");
}

@font-face {
  font-family: 'GeosansLight-Oblique';
  src: url("../fonts/GeosansLight-Oblique.ttf");
}

@font-face {
  font-family: 'Cicle Gordita';
  src: url("../fonts/Cicle Gordita.ttf");
}

@font-face {
  font-family: 'Corbert Italic';
  src: url("../fonts/Corbert Italic.otf");
}

/* line 373, C:/Users/w7-box/Composure/site2/sass/screen.scss */
.category {
  text-transform: uppercase;
  font-family: 'Helvetica Neue';
  letter-spacing: -0.03em;
  font-weight: bold;
  color: #d8d8d8;
  font-size: 16pt;
  padding-bottom: 12px;
}

/* line 385, C:/Users/w7-box/Composure/site2/sass/screen.scss */
::-webkit-input-placeholder {
  color: #4d4d4d !important;
}

/* line 389, C:/Users/w7-box/Composure/site2/sass/screen.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #4d4d4d !important;
}

/* line 393, C:/Users/w7-box/Composure/site2/sass/screen.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #4d4d4d !important;
}

/* line 397, C:/Users/w7-box/Composure/site2/sass/screen.scss */
:-ms-input-placeholder {
  color: #4d4d4d !important;
}

/* line 401, C:/Users/w7-box/Composure/site2/sass/screen.scss */
#subscription-message {
  padding: 16px 0;
}

/* line 405, C:/Users/w7-box/Composure/site2/sass/screen.scss */
.column-separator {
  text-align: center;
  padding: 8px 0;
}

/* line 410, C:/Users/w7-box/Composure/site2/sass/screen.scss */
hr {
  border-top: 1px solid #b8b8b8;
}

/* line 414, C:/Users/w7-box/Composure/site2/sass/screen.scss */
#thanks {
  text-align: center;
  font-size: 14pt;
  padding-top: 20px;
  display: none;
  font-style: italic;
  color: rgba(100, 100, 100, 0.7);
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  /* line 427, C:/Users/w7-box/Composure/site2/sass/screen.scss */
  .flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
  }

  /* line 438, C:/Users/w7-box/Composure/site2/sass/screen.scss */
  .flex-video iframe,
  .flex-video object,
  .flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  /* line 448, C:/Users/w7-box/Composure/site2/sass/screen.scss */
  .flex-video {
    padding-top: 0;
  }
}
/* line 451, C:/Users/w7-box/Composure/site2/sass/screen.scss */
.flex-video .youtube-player {
  max-width: 800px;
  max-height: 600px;
}

/* line 459, C:/Users/w7-box/Composure/site2/sass/screen.scss */
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #5a9fd7;
  border-color: #78abd0;
}

/* line 465, C:/Users/w7-box/Composure/site2/sass/screen.scss */
.btn-info {
  color: #fff;
  background-color: #3287cc;
  border-color: #78abd0;
}

/* line 471, C:/Users/w7-box/Composure/site2/sass/screen.scss */
.translucent-back {
  background-color: rgba(120, 171, 208, 0.5);
  padding-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 478, C:/Users/w7-box/Composure/site2/sass/screen.scss */
.translucent-header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(120, 171, 208, 0.7)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(rgba(120, 171, 208, 0.7), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(rgba(120, 171, 208, 0.7), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(rgba(120, 171, 208, 0.7), rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(120, 171, 208, 0.7), rgba(0, 0, 0, 0));
}
